.root {
  text-align: center;
  color: #3f51b5;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: Montserrat;
  padding: 25px;
  padding-bottom: 15px;
  padding-top: 10px;
  text-align: justify;
}
.competitionlist {
  padding: 32px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.codelist {
  line-height: 2;
}
